<!DOCTYPE html>

<html>

    <head>
        <title>My-node-todo-application</title>
        
        <style>
    /* Add a background color to the style block */
    body {
        background-color: #f5f5f5;
    }

    /* Style links to remove underline and change color */
    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    /* Style links on hover to change color */
    a:hover {
        color: #555;
    }
</style>

    </head>

    <body>
        <h1>Life is all about a black screen with full of errors</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
